<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <servlet>
        <servlet-name>DispatchServlet</servlet-name>
        <servlet-class>controlller.DispatchServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>StaffListController</servlet-name>
        <servlet-class>controlller.StaffListController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ChangePasswordController</servlet-name>
        <servlet-class>controlller.ChangePasswordController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>StaffDetailController</servlet-name>
        <servlet-class>controlller.StaffDetailController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>LogoutServlet</servlet-name>
        <servlet-class>controlller.LogoutServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>FindStaffDetailServlet</servlet-name>
        <servlet-class>controlller.FindStaffDetailServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UpdateStaffDetailServlet</servlet-name>
        <servlet-class>controlller.UpdateStaffDetailServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DeleteStaffDetailServlet</servlet-name>
        <servlet-class>controlller.DeleteStaffDetailServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CreateDayLeaveServlet</servlet-name>
        <servlet-class>controlller.CreateDayLeaveServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AccountListServlet</servlet-name>
        <servlet-class>controlller.AccountListServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AccountDetailServlet</servlet-name>
        <servlet-class>controlller.AccountDetailServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>OvertimeListServlet</servlet-name>
        <servlet-class>controlller.OvertimeListServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>OvertimeDetailServlet</servlet-name>
        <servlet-class>controlller.OvertimeDetailServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>DispatchServlet</servlet-name>
        <url-pattern>/DispatchServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>StaffListController</servlet-name>
        <url-pattern>/StaffListController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ChangePasswordController</servlet-name>
        <url-pattern>/ChangePasswordController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>StaffDetailController</servlet-name>
        <url-pattern>/StaffDetailController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LogoutServlet</servlet-name>
        <url-pattern>/LogoutServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>FindStaffDetailServlet</servlet-name>
        <url-pattern>/FindStaffDetailServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UpdateStaffDetailServlet</servlet-name>
        <url-pattern>/UpdateStaffDetailServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DeleteStaffDetailServlet</servlet-name>
        <url-pattern>/DeleteStaffDetailServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CreateDayLeaveServlet</servlet-name>
        <url-pattern>/CreateDayLeaveServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AccountListServlet</servlet-name>
        <url-pattern>/AccountListServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AccountDetailServlet</servlet-name>
        <url-pattern>/AccountDetailServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>OvertimeListServlet</servlet-name>
        <url-pattern>/OvertimeListServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>OvertimeDetailServlet</servlet-name>
        <url-pattern>/OvertimeDetailServlet</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
    <welcome-file-list>
        <welcome-file>Home page.jsp</welcome-file>
    </welcome-file-list>
</web-app>
